<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header>
  <img src="/static/images/sync-logo.jpg" alt="Sync & Tidy Logo" style="height: 60px; vertical-align: middle;">
  <div style="display: inline-block; margin-left: 10px;">
    <h1>Sanitary Cleaning System</h1>
    <p>Welcome to the Smart Toilet System </p>
    <p>Sync & Tidy</p>
  </div>
</header>

  <div class="container">
    <h2>Toilet Status (Last 5 Entries)</h2>
    <table>
        <thead>
            <tr>
                <th><i class="fas fa-id-badge icon"></i>Toilet ID</th>
                <th><i class="fas fa-check-circle icon"></i>Status</th>
                <th><i class="fas fa-users icon"></i>User Count</th>
                <th><i class="fas fa-tint icon"></i>Flush Count</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record['fields']['Toilet ID'] }}</td>
                <td>{{ record['fields']['Status'] }}</td>
                <td>{{ record['fields']['User Count'] }}</td>
                <td>{{ record['fields']['Flush Count'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <footer>
    <p>&copy; 2025 Can do Crew | All Rights Reserved</p>
  </footer>
</body>
</html>
